## Titanic Competition Dataset

![](https://i0.wp.com/khosann.com/wp-content/uploads/2017/03/titanic-titanik-ballard-leonardo_dicaprio-james_cameron.jpg)

#### Here we try to figure out the patterns who survived the famous Titanic crash. As we apply feature extraction from train set, we will also apply machine learning concepts from very basic to harder to implement. #### 

#### This will be a live notebook which I try to implement new things as I learned.I will try to find out different patterns, and try to apply those day by day. ####

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [6]:
#Defining a function for submission file  to competition
def csv_write(pred):
    output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': pred})
    output.to_csv('submission.csv', index=False)
    print("Your submission was successfully saved!")

In [7]:
# I will do feature extraction and pattern finding here below:
# For now, it is the simplest version of features

features = ["Pclass", "Sex", "SibSp", "Parch"]
y_train = train_data["Survived"]
X_train = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [8]:
# Our first try will be Random Forest Classifier as it is a powerful tool to split data into groups

from sklearn.ensemble import RandomForestClassifier


clf1 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
clf1.fit(X_train, y_train)
y_pred_rand_for = clf1.predict(X_test)
acc_rand_for = round( clf1.score(X_train, y_train) * 100, 2)
print ("Train Accuracy: " + str(acc_rand_for) + '%')

Train Accuracy: 81.59%

In [9]:
# Second one will be Logistic Regression

from sklearn.linear_model import LogisticRegression

clf2 = LogisticRegression()
clf2.fit(X_train, y_train)
y_pred_log_reg = clf2.predict(X_test)
acc_log_reg = round( clf2.score(X_train, y_train) * 100, 2)
print ("Train Accuracy: " + str(acc_log_reg) + '%')

Train Accuracy: 80.02%

In [10]:
# For now, finally third one is Decision Tree Classifier

from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred_dec_tree = clf.predict(X_test)
acc_dec_tree = round(clf.score(X_train, y_train) * 100, 2)
print ("Train Accuracy: " + str(acc_dec_tree) + '%')

csv_write(y_pred_dec_tree)

Train Accuracy: 81.71%
Your submission was successfully saved!

All of the methods' accuracy will be calculated with train sets for now. Maybe it is a little bit wrong but for first try, I will just leave it like that.

For now, my codes' accuracy is just %77. That will go up as patterns can be found in the data.